*.gem
.bundle
.config
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
Gemfile.lock

# YARD artifacts
.yardoc
_yardoc
doc/

# Files after creating the Deb package
debian/files
debian/oversip.debhelper.log

# Custom scripts or files
create-deb.sh
bin/ov
