Source: oversip
Section: comm
Priority: optional
Maintainer: Iñaki Baz Castillo <ibc@aliax.net>
Homepage: http://www.oversip.net
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.3

Package: oversip
Architecture: all
Pre-Depends: ${misc:Depends}, ruby (>= 1.9.3), ruby-dev (>= 1.9.3), make, g++, libssl-dev, libev-dev
Suggests: unbound
Description: OverSIP (the SIP framework you dreamed about)
  OverSIP is an async SIP proxy/server programmable in Ruby language.
  Some features of OverSIP are:
  - SIP transports: UDP, TCP, TLS and WebSocket.
  - Full IPv4 and IPv6 support.
  - RFC 3263: SIP DNS mechanism (NAPTR, SRV, A, AAAA) for failover and load
    balancing based on DNS.
  - RFC 5626: OverSIP is a perfect Outbound Edge Proxy, including an integrated
    STUN server.
  - Fully programmable in Ruby language (make SIP easy).
  - Fast and efficient: OverSIP core is coded in C language.
  OverSIP is build on top of EventMachine async library which follows the Reactor
  Design Pattern, allowing thousands of concurrent connections and requests in a
  never-blocking fashion.
