#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build: build-stamp

build-stamp:
	dh_testdir
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -rf build-stamp oversip
	dh_prep

install: build
	dh_testdir
	dh_testroot
	dh_prep -k
	dh_installdirs /etc

	mkdir -p $(CURDIR)/debian/oversip/etc/oversip/
	mkdir -p $(CURDIR)/debian/oversip/etc/oversip/tls/
	mkdir -p $(CURDIR)/debian/oversip/etc/oversip/tls/ca/
	mkdir -p $(CURDIR)/debian/oversip/etc/oversip/tls/utils/
	#mkdir -p $(CURDIR)/debian/oversip/usr/share/oversip/
	mkdir -p $(CURDIR)/debian/oversip/etc/security/limits.d/
	install -m 644 etc/oversip.conf debian/oversip/etc/oversip/
	install -m 644 etc/proxies.conf debian/oversip/etc/oversip/
	install -m 644 etc/logic.rb debian/oversip/etc/oversip/
	install -m 644 etc/websocket_policy.rb debian/oversip/etc/oversip/
	install -m 644 etc/system_events.rb debian/oversip/etc/oversip/
	install -m 644 etc/events.rb debian/oversip/etc/oversip/
	install -m 644 etc/custom_lib.rb debian/oversip/etc/oversip/
	install -m 755 etc/tls/upgrade-cacert.sh debian/oversip/etc/oversip/tls/
	install -m 644 etc/tls/demo-tls.oversip.net.crt debian/oversip/etc/oversip/tls/
	install -m 600 etc/tls/demo-tls.oversip.net.key debian/oversip/etc/oversip/tls/
	install -m 644 etc/tls/ca/* debian/oversip/etc/oversip/tls/ca/
	install -m 755 etc/tls/utils/* debian/oversip/etc/oversip/tls/utils/
	install -m 644 debian/oversip.limits debian/oversip/etc/security/limits.d/oversip.conf

# Build architecture-dependent files here.
binary-arch: install
# We have nothing to do by default.

# Build architecture-independent files here.
binary-indep: install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_installinit --restart-after-upgrade -- defaults 20
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installcron
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
